docker/db
.idea
.env
.env-dev
.env-prod
client/app/build

#api
api/vendor
api/node_modules
api/public/hot
api/public/storage
html/storage/*.key
api/.env
api/.env.backup
api/.phpunit.result.cache
api/docker-compose.override.yml
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log
api/.idea
api/.vscode